<!-- common CSS -->
<style>
	.has_contact { background-color: #FFF8DC!important; color: #3300ff!important; font-size:14px!important; font-weight: bold; }
	.no_contact {color:#000!important;}
	th.sorting, th.sorting_desc, th.sorting_asc { text-decoration: underline; }
	div.profile_medium_score { color:#1A529E!important;font-size:14px!important; }
	div.profile_high_score { color:#3300ff!important;font-size:16px!important; }
	.text-center { text-align: center!important; }
	div.datatable_row_checkbox {
		font-size:1.3em!important; color:#3300ff!important; cursor: pointer; 
		height: 25px!important; width:100%!important; border-radius: 12px;
	}
	div.datatable_row_checkbox:hover {
		background-color: #FFF8DC!important;
		color: #EC4B0A!important;
		font-size:1.5em;
	}
	.item-headline-img {
		vertical-align: middle;
	    max-width: 96px;
	    max-height: 96px;
	    border-radius: 8%;
	}
	.rank_item_info {
		color: blue;
		font-weight: bold;
		font-size: 16px;
	}
	.item_link {
		text-overflow: ellipsis; 
		width: 100%;
	}
	.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
		background-color: #FAFADE!important;
	    color: #3300ff!important;
	    font-size: 14px;
	    font-weight: bold;
	}
	ul.nav > li.active > a {
		color: #3300ff!important;
		background-color: #f6f6f6!important;
		font-weight: bold;
	}
	.text_ellipsis {
	  max-width: 420px; 
	  overflow: hidden;
	  text-overflow: ellipsis; 
	}
	ol.profile_ext_data {
		margin-left: 28px;
	}
	#profile_info_tabs {
		margin-top: 15px;
	}
	
	.funnel-flow {
		text-transform: uppercase;
		font-size: 12px!important;
	}
	.funnel-stage {
		float: left;
		width: 10%!important;
		margin-top:10px;
		border-right: 1px solid black;
		height: 36px;
		min-height: 1px;
    	padding-right: 5px;
    	padding-left: 5px;
    	font-size: 0.96em;
    	text-align: center;
	} 
	.funnel-stage-active {
		font-weight: bold;
		color: #3300ff!important;
	} 
	.event_matrix_active {
		width: 100%; background-color: #e8e8e8; border-radius: 10px;
	}
	.btn-import-data {
		background-color: #FBF95A; color: black; border:solid 1px black;
	} 
	.btn-taxonomy {
	    color: #3300ff;
	    background-color: #ECECEC;
	    border-color: #BBBBBB;
	    margin-top: 5px;
	}

</style>

<script id='engaged-touchpoint-tpl' type="text/html" >
 <li class="list-group-item view" id="tp_<%- id %>">
   <div class="row">
	  <div class="col-lg-2 text-center" style="margin-top: 5px;" > Total Event: <br> <span class="scoring_field"><%- eventCount %></span>  </div>
      <div class="col-lg-10">
         <small class="text-muted pull-right"> Updated: <%- updatedAt %> </small>
         <h5 class="media-heading"> <a target="_blank" rel="noreferrer" href="<%- url %>" > <%- name %> </a> </h5>
         <div class="text-nowrap " >  
			 <i class="fa fa-link" aria-hidden="true"></i> <span class="small"><%- truncatedUrl %></span> 
		 </div>
 		 <div class="text-nowrap" style="display: <%- cssShowLocationCode %>" >  
			<i class="fa fa-map-marker" aria-hidden="true"></i>  
			<span class="small" > Location at <a href="javascript:eModal.iframe('https://plus.codes/<%- locationCode %>','Touchpoint Location')" > </a>  </span> 
		 </div>
      </div>
   </div>
 </li>
</script>

<script id='view-event-tpl' type="text/html" >
 <li class="list-group-item view" id="ev_<%- id %>">
   <div class="row">
      <div class="col-md-2 text-center" style="margin-top: 15px;" > <i class="fa fa-internet-explorer" aria-hidden="true" style="font-size:2em" ></i> <br> <div class="event_text"><%- metricName %></div> </div>
      <div class="col-md-10">
         <small class="text-muted pull-right"> <%- createdAt %> </small>
         <h5 class="media-heading"> <a target="_blank" rel="noreferrer" href="<%- srcTouchpoint.url %>" > <%- srcTouchpoint.name %> </a> </h5>
         <div class="text-nowrap " >  
			 <i class="fa fa-link" aria-hidden="true"></i> <span class="small"><%- srcTouchpoint.truncatedUrl %></span> 
		 </div>
 		 <div class="text-nowrap " >  
			<i class="fa fa-map-marker" aria-hidden="true"></i>  
			<div style="display: <%- cssStyleDisplayLocation %>" >
				<i class="fa fa-map-marker" aria-hidden="true"></i>  
				<span class="small" > 
					Location at <a  href="javascript:eModal.iframe('https://plus.codes/<%- locationCode %>','<%- locationName %>')" > <%- locationName %> </a> 
				</span> 
 			</div>
		 </div>
 		 <div class="text-wrap" style="display: <%- cssStyleDisplayEventData %>" >  
			<span class="small" > <b><i class="fa fa-info-circle" aria-hidden="true"></i> Event Data:</b> <br> 
			<ul>
			<% _.forOwn(eventData, function(value, key) { %>
				<li> <%- key %> : <%- (value) %> </li>
			<% }) %>
			<ul>
			</span> 
		 </div>
 		 <div style="margin-top:8px">
			<% _.forOwn(imageUrls, function(imageUrl) { %>
				<div class="col-xs-6 col-md-3">
    				<a href="<%- imageUrl %>" data-lightbox="image-1" data-title="Event Image" class="thumbnail">
						<img src="<%- imageUrl %>" class="img-rounded" alt="Event Image">
					</a>
  				</div>
			<% }) %>
		 </div>
      </div>
   </div>
 </li>
</script>

<script id='key-info-view-event-tpl' type="text/html" >
 <li class="list-group-item view" id="ev_<%- id %>">
   <div class="row">
      <div class="col-md-2 text-center highlight_text" style="margin-top: 15px;"> <i class="fa fa-info-circle" aria-hidden="true" style="font-size:2em" ></i> <br> <div class="event_text"><%- metricName %></div> </div>
      <div class="col-md-10">
         <small class="text-muted pull-right"> <%- createdAt %> </small>
         <h5 class="media-heading"> <a target="_blank" rel="noreferrer" href="<%- srcTouchpoint.url %>" > <%- srcTouchpoint.name %> </a> </h5>
         <div class="text-nowrap " >  
			 <i class="fa fa-link" aria-hidden="true"></i> <span class="small"><%- srcTouchpoint.truncatedUrl %></span> 
		 </div>
 		 <div class="text-nowrap " >  
			<i class="fa fa-map-marker" aria-hidden="true"></i>  
			<div style="display: <%- cssStyleDisplayLocation %>" >
				<i class="fa fa-map-marker" aria-hidden="true"></i>  
				<span class="small" > 
					Location at <a  href="javascript:eModal.iframe('https://plus.codes/<%- locationCode %>','<%- locationName %>')" > <%- locationName %> </a> 
				</span> 
 			</div>
		 </div>
		 <div class="text-wrap" style="display: <%- cssStyleDisplayEventData %>" >  
			<span class="small" > <b><i class="fa fa-info-circle" aria-hidden="true"></i> Event Data:</b> <br>
			<ul>
			<% _.forOwn(eventData, function(value, key) { %>
				<li> <b> <%- key %> </b> : <mark> <%- decodeURISafe(value) %> </mark>  </li>
			<% }) %>
			<ul>
			</span> 
		 </div>
 		 <div style="margin-top:8px">
			<% _.forOwn(imageUrls, function(imageUrl) { %>
				<div class="col-xs-6 col-md-3">
    				<a href="<%- imageUrl %>" data-lightbox="image-1" data-title="Event Image" class="thumbnail">
						<img src="<%- imageUrl %>" class="img-rounded" alt="Event Image">
					</a>
  				</div>
			<% }) %>
		 </div>
      </div>
   </div>
 </li>
</script>

<script id='action-event-tpl' type="text/html" >
 <li class="list-group-item action" id="ev_<%- id %>" >
   <div class="row">
      <div class="col-md-2 text-center highlight_text" style="margin-top: 15px;"> <i class="fa fa-sign-in" aria-hidden="true" style="font-size:2.5em" ></i> <br> <div class="event_text"><%- metricName %></div> </div>
      <div class="col-md-10">
         <small class="text-muted pull-right"> <%- createdAt %> </small>
         <h5 class="media-heading"> <a target="_blank" rel="noreferrer" href="<%- srcTouchpoint.url %>" > <%- srcTouchpoint.name %> </a> </h5>
         <div class="text-nowrap " > 
			 <span class="small" > <b><i class="fa fa-info-circle" aria-hidden="true"></i> Action Data:</b> <br>  
			 <i class="fa fa-commenting-o" aria-hidden="true"></i> Message: <mark> <%- message %> </mark> <br>
			 <i class="fa fa-info-circle" aria-hidden="true"></i> Value: <mark> <%- metricValue %> </mark> 
		 </div>
		 <div class="text-nowrap"  >  
			<span class="small" > <b><i class="fa fa-info-circle" aria-hidden="true"></i> Transaction Data:</b> <br> 
			<i class="fa fa-usd" aria-hidden="true"></i> Transaction ID: <mark> <%- transactionId %> </mark> - Payment: <mark> <%- transactionPayment %> </mark> <br>
			<i class="fa fa-info" aria-hidden="true"></i> Status: <mark> <%- transactionStatus %> </mark> <br>
			
			<i class="fa fa-usd" aria-hidden="true"></i> Transaction Value: <mark> <%- transactionValue %> <%- transactionCurrency %> </mark> <br>
			<i class="fa fa-usd" aria-hidden="true"></i> Discount Value: <mark> <%- transactionDiscount %> <%- transactionCurrency %> </mark>	
		 </div>
		 <div class="text-nowrap " >  
			<i class="fa fa-link" aria-hidden="true"></i> <span class="small" ><%- srcTouchpoint.truncatedUrl %></span> <br>
			<div style="display: <%- cssStyleDisplayLocation %>" >
				<i class="fa fa-map-marker" aria-hidden="true"></i>  
				<span class="small" > 
					Location at <a  href="javascript:eModal.iframe('https://plus.codes/<%- locationCode %>','<%- locationName %>')" > <%- locationName %> </a> 
				</span> 
 			</div>
		 </div>
		 <hr>
 		 <div class="text-wrap" style="display: <%- cssStyleDisplayEventData %>" >   
			<span class="small" > <b><i class="fa fa-info-circle" aria-hidden="true"></i> Event Data:</b> <br> 
			<ul>
			<% _.forOwn(eventData, function(value, key) { %>
				<li> <b> <%- key %> </b> : <mark> <%- decodeURISafe(value) %> </mark>  </li>
			<% }) %>
			<ul>
			</span> 
		 </div>
		<div class="text-wrap" style="display: <%- cssStyleDisplayOrderedItems %>" >   
			<span class="small" > <b><i class="fa fa-info-circle" aria-hidden="true"></i> Ordered Items:</b> <br> 
			<div>
			<% _.forOwn(orderedItems, function(item) { %>
				<div style="padding:20px"> 
					<b> Name </b> : <mark> <%- item.source %> : <%- item.name %> </mark>  <br>
					<b> Original Price </b> : <mark> <%- item.originalPrice %> <%- item.currency %></mark>  <br>
					<b> Sale Price </b> : <mark> <%- item.salePrice %> <%- item.currency %> </mark>  <br>
					<b> Quantity </b> : <mark> <%- item.quantity %> </mark>  <br>
					<b> Discount </b> : <mark> <%- item.discount %> <%- item.currency %>  <%- item.couponCode %> </mark>  <br>
				</div>
			<% }) %>
			<div>
			</span> 
		 </div>
 		 <div style="margin-top:8px">
			<% _.forOwn(imageUrls, function(imageUrl) { %>
				<div class="col-xs-6 col-md-3">
    				<a href="<%- imageUrl %>" data-lightbox="image-1" data-title="Event Image" class="thumbnail">
						<img src="<%- imageUrl %>" class="img-rounded" alt="Event Image">
					</a>
  				</div>
			<% }) %>
		 </div>
      </div>
   </div>
 </li>
</script>

<script id='conversion-event-tpl' type="text/html" >
 <li class="list-group-item conversion" id="ev_<%- id %>" >
   <div class="row">
      <div class="col-md-2 text-center highlight_text" style="margin-top: 15px;" >  <i class="fa fa-cart-plus" aria-hidden="true" style="font-size:3em" ></i> <br> <div class="event_text"><%- metricName %></div> </div>
      <div class="col-md-10">
         <small class="text-muted pull-right"> <%- createdAt %>  </small>
         <h5 class="media-heading"> <a target="_blank" rel="noreferrer" href="<%- srcTouchpoint.url %>" > <%- srcTouchpoint.name %> </a> </h5>
         <div class="text-nowrap"  >  
			<i class="fa fa-commenting-o" aria-hidden="true"></i> Message: <mark> <%- message %> </mark> <br>
			<span class="small" > <b><i class="fa fa-info-circle" aria-hidden="true"></i> Transaction Data:</b> <br> 
			<i class="fa fa-usd" aria-hidden="true"></i> Transaction ID: <mark> <%- transactionId %> </mark> - Payment: <mark> <%- transactionPayment %> </mark> <br>
			<i class="fa fa-info" aria-hidden="true"></i> Status: <mark> <%- transactionStatus %> </mark> <br>
			<i class="fa fa-usd" aria-hidden="true"></i> Transaction Value: <mark> <%- transactionValue %> <%- transactionCurrency %> </mark> - Payment: <mark> <%- transactionPayment %> </mark> <br>
			<i class="fa fa-usd" aria-hidden="true"></i> Discount Value: <mark> <%- transactionDiscount %> <%- transactionCurrency %> </mark>
		 </div>
		 <div class="text-nowrap " >  
			<i class="fa fa-link" aria-hidden="true"></i> <span class="small" ><%- srcTouchpoint.truncatedUrl %></span> <br> 
			<div style="display: <%- cssStyleDisplayLocation %>" >
				<i class="fa fa-map-marker" aria-hidden="true"></i>  
				<span class="small" > 
					Location at <a  href="javascript:eModal.iframe('https://plus.codes/<%- locationCode %>','<%- locationName %>')" > <%- locationName %> </a> 
				</span> 
 			</div>
		 </div>
		 <hr>
		 <div class="text-wrap" style="display: <%- cssStyleDisplayEventData %>" >  
			<span class="small" > <b><i class="fa fa-info-circle" aria-hidden="true"></i> Event Data:</b> <br> 
			<ul>
			<% _.forOwn(eventData, function(value, key) { %>
				<li> <b> <%- key %> </b> : <mark> <%- decodeURISafe(value) %> </mark>  </li>
			<% }) %>
			<ul>
			</span> 
		 </div>
		<div class="text-wrap" style="display: <%- cssStyleDisplayOrderedItems %>" >   
			<span class="small" > <b><i class="fa fa-info-circle" aria-hidden="true"></i> Ordered Items:</b> <br> 
			<div>
			<% _.forOwn(orderedItems, function(item) { %>
				<div style="padding:20px"> 
					<b> Name </b> : <mark> <%- item.source %> : <%- item.name %> </mark>  <br>
					<b> Original Price </b> : <mark> <%- item.originalPrice %> <%- item.currency %></mark>  <br>
					<b> Sale Price </b> : <mark> <%- item.salePrice %> <%- item.currency %> </mark>  <br>
					<b> Quantity </b> : <mark> <%- item.quantity %> </mark>  <br>
					<b> Discount </b> : <mark> <%- item.discount %> <%- item.currency %>  <%- item.couponCode %> </mark>  <br>
				</div>
			<% }) %>
			<div>
			</span> 
		 </div>
 		 <div style="margin-top:8px">
			<% _.forOwn(imageUrls, function(imageUrl) { %>
				<div class="col-xs-6 col-md-3">
    				<a href="<%- imageUrl %>" data-lightbox="image-1" data-title="Event Image" class="thumbnail">
						<img src="<%- imageUrl %>" class="img-rounded" alt="Event Image">
					</a>
  				</div>
			<% }) %>
		 </div>
      </div>
   </div>
 </li>
</script>



<script id='recommended-content-tpl' type="text/html" >
 <div class="list-group-item col-md-12" id="content_item_<%- key %>" data-key="<%- key %>" style="cursor:pointer" title="Drag and drop to update item ranking" data-assetgroupid="<%- assetGroupIds[0] %>" >
	<div class="col-md-2 text-center" > 
		<img alt="Content Image" class="rounded mx-auto d-block item-headline-img" src="<%- content.headlineImageUrl %>" onerror="this.src = NO_IMAGE_URL" > 
	</div>
	<div class="col-md-10">
		<small class="text-muted pull-right"> Updated at: <%- updatedAt %> </small>
		<span class="rank_item_info" > Ranking Index: <span class="rank_info" id="rank_content_<%- key %>" data-key="<%- key %>" ><%- indexScore %></span> </span> <br> 
		<h5 class="media-heading">  <%- content.title %> </h5>
		
		<div class="row">
			<div class="col-md-3">
				<h5> <i class="fa fa-info" aria-hidden="true"></i> Smart Link URL </h5>
			</div>
			<div class="col-md-9">
				<input class="form-control autoselectall" type="url" value="<%- targetMediaUnit.trackingLinkUrl %>" autocomplete="off" readonly > 
			</div>		
		</div>

		<div class="row" style="margin-top:8px;">
			<div class="col-md-3">
				<h5> <i class="fa fa-info" aria-hidden="true"></i> Full URL of landing page </h5>
			</div>
			<div class="col-md-9">
				<input class="form-control autoselectall" type="url" value="<%- content.landingPageUrl %>" autocomplete="off"  readonly >
			</div>		
		</div>

	</div>
 </div>
</script>

<script id='recommended-product-tpl' type="text/html" >
 <div class="list-group-item col-md-12" id="product_item_<%- key %>" data-key="<%- key %>" style="cursor:pointer" title="Drag and drop to update item ranking" data-assetgroupid="<%- assetGroupIds[0] %>" >
	<div class="col-md-2 text-center"> 
		<img alt="Product Image" class="rounded mx-auto d-block item-headline-img" src="<%- product.headlineImageUrl %>" onerror="this.src = NO_IMAGE_URL" > 
	</div>
	 <div class="col-md-10">
		<small class="text-muted pull-right"> Updated at: <%- updatedAt %> </small>

		<span class="rank_item_info" > Item Index: <span class="rank_info" id="rank_product_<%- key %>" data-key="<%- key %>" ><%- indexScore %></span> </span> <br> 
		<b class="media-heading">  <%- product.title %> </b>

		<div class="row">
			<div class="col-md-3">
				<h5> <i class="fa fa-info" aria-hidden="true"></i> Smart Link URL </h5>
			</div>
			<div class="col-md-9">
				<input class="form-control autoselectall" type="url" value="<%- targetMediaUnit.trackingLinkUrl %>" autocomplete="off" readonly > 
			</div>		
		</div>

		<div class="row" style="margin-top:8px;">
			<div class="col-md-3">
				<h5> <i class="fa fa-info" aria-hidden="true"></i> Full URL of landing page </h5>
			</div>
			<div class="col-md-9">
				<input class="form-control autoselectall" type="url" value="<%- product.fullUrl %>" autocomplete="off"  readonly >
			</div>		
		</div>

 		<div class="text-nowrap" style="margin-top:5px;">

			<div class="col-lg-6">
				<i class="fa fa-info" aria-hidden="true"></i> <b class="small" > Original Price: <%- product.originalPrice %> <%- product.priceCurrency %> </b> 				
			</div>
			<div class="col-lg-6">
				<i class="fa fa-info" aria-hidden="true"></i> <b class="small" > <%- product.productIdType %> : <%- product.productId %> </b> <br>
			</div>
			<br>
			<div class="col-lg-6">
				<i class="fa fa-info" aria-hidden="true"></i> <b class="small" > Sale Price: <%- product.salePrice %> <%- product.priceCurrency %> </b>
				<br> 
				<i class="fa fa-info" aria-hidden="true"></i> <b class="small" > Offer Price: <%- product.offerPrice %> <%- product.priceCurrency %> (Discount: <%- product.discount %> %) </b> 
			</div>
			<div class="col-lg-6">
				<i class="fa fa-info" aria-hidden="true"></i> <b class="small" > Keywords: <%- product.keywordsText %> </b>
			</div>
		</div>

	</div>
  </div>
</script>

<script id='purchased-product-tpl' type="text/html" >
 <div class="list-group-item col-md-12" id="purchased_item_<%- key %>" data-key="<%- key %>" >
	<div class="col-md-2 text-center"> 
		<img src="<%- product.headlineImageUrl %>" alt="Product Image" class="rounded mx-auto d-block item-headline-img" onerror="this.src = 'https://cdn-icons-png.freepik.com/512/1478/1478920.png'" > 
	</div>
	 <div class="col-md-10">
		<small class="text-muted pull-right"> Transaction Date: <%- createdAt %> </small>
 		<div class="text-nowrap" > 
			<i class="fa fa-info" aria-hidden="true"></i> Product <%- product.productIdType %> : <b> <%- product.productId %> </b> <br>
			<h5 class="media-heading">  <%- product.title %> </h5> 
			<span class="small item_link" > <a target="_blank" rel="noreferrer" href="<%- product.fullUrl %>" > <%- product.fullUrl %> </a>  </span> <br>
			<i class="fa fa-info" aria-hidden="true"></i> Transaction ID: <b> <%- transactionId %> </b> 
		</div>
	</div>
  </div>
</script>

<script id='feedback-rating-event-tpl' type="text/html" >
 <li class="list-group-item view" id="ev_<%- id %>">
   <div class="row">
      <div class="col-md-2 text-center highlight_text" style="margin-top: 15px;"> 
		<i class="fa <%- eventIcon %>" aria-hidden="true" style="font-size:2em" ></i> <br> 
		<div class="event_text"> <%- eventName %> </div> 
      </div>
      <div class="col-md-10">
         <small class="text-muted pull-right"> <%- createdAt %> </small>
         <h5> <i class="fa fa-info-circle" aria-hidden="true"></i>  Feedback Form: <mark style="font-weight:bold;font-size: 1.1em;"> <%- header %> </mark> </h5>
		 <h6> <i class="fa fa-info-circle" aria-hidden="true"></i>  Type: <mark style="font-weight:bold;font-size: 1.1em;"> <%- feedbackType %> </mark></h6>
 		 <hr>
         <div class="text-nowrap" >  
			<i class="fa fa-info-circle" aria-hidden="true"></i> Touchpoint Name: <strong title="<%- touchpointName %>"> <%- touchpointName.length > 90 ? touchpointName.substring(0,90) + "..." : touchpointName %> </strong> <br>
			<i class="fa fa-link" aria-hidden="true"></i> Touchpoint URL: <a target="_blank" rel="noreferrer" href="<%- previewUrl %>" > <%- previewUrl %> </a> 
		 </div>
		 <div class="text-nowrap" >  
			<i class="fa fa-star" aria-hidden="true"></i>  
			Feedback Event Score:  <mark style="font-weight:bold;font-size: 1.2em;"><%- feedbackScore %></mark>
		 </div>
		 <div class="text-wrap" > 
			<i class="fa fa-smile-o" aria-hidden="true"></i> CX Sentiment Score 
			<div class="progress">
			   	<div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="<%- scoreCX.negative %>"
			  		aria-valuemin="0" aria-valuemax="100" style="width:<%- scoreCX.negative %>%">
			    		<span><%- scoreCX.negative %></span>% Negative
			  	</div>
			  	<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="<%- scoreCX.neutral %>"
			  		aria-valuemin="0" aria-valuemax="100" style="width:<%- scoreCX.neutral %>%">
			    		<span><%- scoreCX.neutral %></span>% Neutral
			  	</div>
			  	<div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="<%- scoreCX.positive %>"
			  		aria-valuemin="0" aria-valuemax="100" style="width:<%- scoreCX.positive %>%">
			    		<span><%- scoreCX.positive %></span>% Positive
			  	</div>
	   		</div>
		 </div>
      </div>
   </div>
 </li>
</script>

<script id='feedback-survey-event-tpl' type="text/html" >
 <li class="list-group-item view" id="ev_<%- id %>">
   <div class="row">
      <div class="col-md-2 text-center highlight_text" style="margin-top: 15px;"> 
		<i class="fa <%- eventIcon %>" aria-hidden="true" style="font-size:2em" ></i> <br> 
		<div class="event_text"> <%- eventName %> </div> 
      </div>
      <div class="col-md-10">
         <small class="text-muted pull-right"> <%- createdAt %> </small>
         <h5 class="media-heading"> <i class="fa fa-info-circle" aria-hidden="true"></i>  Feedback Form: <mark style="font-weight:bold;font-size: 1.1em;"> <%- header %> </mark> </h5>
		 <h6> <i class="fa fa-info-circle" aria-hidden="true"></i>  Type: <mark style="font-weight:bold;font-size: 1.1em;"> <%- feedbackType %> </mark></h6>
		 <h6> <i class="fa fa-info-circle" aria-hidden="true"></i>  Group: <%- group %>  </h6>
 		 <hr>
         <div class="text-nowrap" >  
			<i class="fa fa-info-circle" aria-hidden="true"></i> Touchpoint Name: <strong title="<%- touchpointName %>"> <%- touchpointName.length > 90 ? touchpointName.substring(0,90) + "..." : touchpointName %> </strong> <br>
			<i class="fa fa-link" aria-hidden="true"></i> Touchpoint URL: <a target="_blank" rel="noreferrer" href="<%- previewUrl %>" > <%- previewUrl %> </a> 
		 </div>
		 <div class="text-nowrap" >  
			<i class="fa fa-star" aria-hidden="true"></i>  
			Feedback Event Score: <mark style="font-weight:bold;font-size: 1.2em;"><%- feedbackScore %></mark>
		 </div>
		 <div class="text-wrap" > 
			<i class="fa fa-smile-o" aria-hidden="true"></i> CX Sentiment Score 
			<div class="progress">
			   	<div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="<%- scoreCX.negative %>"
			  		aria-valuemin="0" aria-valuemax="100" style="width:<%- scoreCX.negative %>%">
			    		<span><%- scoreCX.negative %></span>% Negative
			  	</div>
			  	<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="<%- scoreCX.neutral %>"
			  		aria-valuemin="0" aria-valuemax="100" style="width:<%- scoreCX.neutral %>%">
			    		<span><%- scoreCX.neutral %></span>% Neutral
			  	</div>
			  	<div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="<%- scoreCX.positive %>"
			  		aria-valuemin="0" aria-valuemax="100" style="width:<%- scoreCX.positive %>%">
			    		<span><%- scoreCX.positive %></span>% Positive
			  	</div>
	   		</div>
		 </div>
		 <hr>
		 <div class="text-wrap"  >  
			<i class="fa fa-info-circle" aria-hidden="true"></i> Profile Raw Data
			<ul>
			<% _.forOwn(profileExtAttributes, function(value, key) { %>
				<li> <%- key %> : <mark style="font-weight:bold;font-size: 1.1em;"> <%- value %> </mark> </li>
			<% }) %>
			<ul>
		 </div>
		 <hr>
		 <div class="text-nowrap" >  
			<i class="fa fa-info-circle" aria-hidden="true"></i>  Original Sources: <mark style="font-weight:bold;font-size: 1.1em;"><%- originalSources.join(", ") %></mark>
		 </div>
		 <div class="text-nowrap" >  
			<i class="fa fa-commenting-o" aria-hidden="true"></i> Comment: <mark style="font-weight:bold;font-size: 1.1em;"> <%- comment %> </mark>
		 </div>
		 <hr>
		 <div class="text-wrap"  >  
			<i class="fa fa-info-circle" aria-hidden="true"></i> Question and Answers 
			<ul>

			<% _.forOwn(extraTextQuestionsAnswer, function(item, key) { %>
				<li> <%- item.question %> : <mark style="font-weight:bold;font-size: 1.1em;"> <%- item.answers.join(", ") %> </mark> </li>
			<% }) %>

			<% _.forOwn(multipleChoiceQuestionAnswer, function(item, key) { %>
				<li> <%- item.question %> : <mark style="font-weight:bold;font-size: 1.1em;"> <%- item.answers.join(", ") %> </mark> </li>
			<% }) %>

			<% _.forOwn(singleChoiceQuestionAnswer, function(item, key) { %>
				<li> <%- item.question %> : <mark style="font-weight:bold;font-size: 1.1em;"> <%- item.answers.join(", ") %> </mark> </li>
			<% }) %>

			<ul>
		 </div>
      </div>
   </div>
 </li>
</script>


<script id='financial-event-tpl' type="text/html" >
 <div class="list-group-item col-md-12"  >
	<div class="col-md-2 text-center" > 
		<i class="fa <%- riskIcon %>" aria-hidden="true" style="margin-top:42%; font-size:72px; color:<%- riskIconColor %> "></i>
	</div>
	 <div class="col-md-10">
		<h4 class="media-heading highlight_text" style="color:<%- riskIconColor %>"> <b><i class="fa fa-info-circle" aria-hidden="true"></i> Credit Risk: <%- risk %> </b>  </h4>
		<hr>
		<div class="highlight_text" > <b><i class="fa fa-usd" aria-hidden="true"></i> Credit Amount: <%- creditAmount %> </b> </div> 
		<div class="highlight_text" > <b><i class="fa fa-info-circle" aria-hidden="true"></i> Purpose of spending: <%- purpose %> </b> </div>
		<hr>
 		<div class="highlight_text" > <b><i class="fa fa-calendar-o" aria-hidden="true"></i> Duration in month: <%- duration %> </b> </div>
		<div class="highlight_text" > <b><i class="fa fa-info-circle" aria-hidden="true"></i> Saving Account Status: <%- savingAccountStatus %> </b> </div>
		<div class="highlight_text" > <b><i class="fa fa-info-circle" aria-hidden="true"></i> Checking Account Status: <%- checkingAccountStatus %> </b> </div>
	</div>
  </div>
</script>

<!-- Modal new event -->
<div class="modal fade" id="newCustomerSupportCaseDialog" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"> Creat New Observed Event </h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
            	<button type="button" class="btn btn-primary" data-dismiss="modal"> Cancel </button>
                <button type="button" class="btn btn-success" onclick="okSaveNewObservedEvent()"> OK </button>
            </div>
        </div>

    </div>
</div>

<!-- Merge Duplicate for all Profiles -->
<div class="modal fade" id="deduplicateAllProfilesDialog" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title"> <i class="fa fa-compress" aria-hidden="true"></i> Deduplicate All Profiles </h3>
            </div>
			<div class="modal-body">
                <div class="alert alert-info">
                    <h4> <i class="fa fa-question-circle-o" aria-hidden="true"></i>  Do you want to do data deduplication ? </h4>
                </div>
            </div>
            <div class="modal-footer">
            	<button type="button" class="btn btn-primary" data-dismiss="modal"> <i class="fa fa-minus-circle" aria-hidden="true"></i> CANCEL </button>
                <button type="button" class="btn btn-goto-router" onclick="okDeduplicateAllProfiles()"> <i class="fa fa-check" aria-hidden="true"></i> OK </button>
            </div>
        </div>

    </div>
</div>


<!-- Merge Duplicate from Current Profile -->
<div class="modal fade" id="deduplicateCurrentProfileDialog" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title"> <i class="fa fa-compress" aria-hidden="true"></i> De-duplicate Profiles </h3>
            </div>
			<div class="modal-body">
                <div class="alert alert-info">
                    <h4> <i class="fa fa-question-circle-o" aria-hidden="true"></i>  Do you want to do data de-duplication ? </h4>
                </div>
            </div>
            <div class="modal-footer">
            	<button type="button" class="btn btn-primary" data-dismiss="modal"> <i class="fa fa-minus-circle" aria-hidden="true"></i> Cancal </button>
                <button type="button" class="btn btn-success" onclick="deduplicateCurrentProfile()"> <i class="fa fa-check-circle" aria-hidden="true"></i> Do de-duplication </button>
            </div>
        </div>

    </div>
</div>